{% load i18n %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <title>Dude Bar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" href="/static/img/dude.jpg">
    <link rel="icon"
          type="image/x-icon"
          href="/static/img/favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="/static/js/make_command.js"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top dude-head" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="/" class="logo-head">Dude Cash</a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% if user.is_authenticated %}
                <li><button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#solde">Solde</button></li>
                <li><button onclick="location.href='{% url "add_note" %}'" class="btn btn-default navbar-btn">Messages</button></li>
              {% endif %}
            </ul>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <p class="navbar-text navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li> <a href="{% url "close" %}">Fermer</a></li>
                    {% else %}
                        <li><a href={% url "open" %}>Open</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<div class="container">
{% bootstrap_messages %}
{% block content %}
{% endblock %}
</div>

<!-- Modal -->
<div class="modal fade" id="solde" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Solde Courrant</h4>
      </div>
      <div class="modal-body">
        <div>Solde: <b><span id="total-solde"></span>€</b></div>
        <div>Nb de Commandes: <span id="nb-command"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
