
body {
    padding-top: 70px;
    background-color: rgba(245, 188, 27, 0.2);
}

.make-command{
    height: 100%;
}
.command-product{
    height: 40px;
    background-color: silver;
    display: flex;
    align-items: center;
}

.central-div {
    background-image: url('../img/dude2.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    overflow-y:scroll;
}

.product_list {
    margin-top: 0px;
}

.product {
    margin-bottom: 10px;
    height: 80px;
    min-width: 180px;
    background-color: rgba(245, 164, 50, 1);
    font-weight: bold;
    color: white;
}

.btn-category {
    margin-bottom: 10px;
    min-width: 200px;
    height: 80px;
}

.command_list {
    height: 510px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-y:scroll;
}

.hidden-div {
    display: none;
}

.ariane {
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

.command-panel {
    padding-left: 0px;
    padding-right: 0px;
}

.command-total {
    text-align: center;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 20px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    border: 1px;
    border-style: solid;
}

.command-total > b {
    margin-left: 5px;
}
.command-total > span {
    margin-left: 25px;
}

.command_list > ul {
    padding-left: 0px;
}

.command_list > ul > li {
    height: 60px;
    background-color: rgba(245, 164, 50, 0.6);
    display: flex;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    padding-left: 0px;
}

.home {

}
.home-barman {
    height: 80px;
    margin-bottom: 10px;
}
.home-notes {
    height: 400px;
    overflow-y:scroll;
}
.home-option {
    margin-top:20px;
}
.barman-btn {
    height:80px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 10%;
}

.command-button{
    margin-bottom: 20px;
}

.calc{
    width: 60px;
}

.btn-product{
    height: 40px;
}

.separator{
    height: 2px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mickey-btn {
    background-color: hotpink;
    color: white;
}

.nb-calc {
    width: 80px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px;
    border-style: solid;
    margin-top: 3px;
    background-color: white;
    margin-left: -30px;
    text-align: center;
}
#calc-result {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
}
#calc-del{
    width: 80px;
    color: red;
}

.gift {
    margin-left: 5px;
}